<div id="page-menu">

	<div id="page-menu-wrap">

		<div class="container clearfix">

			<div class="menu-title">Explore <span>CANVAS</span></div>

			<nav class="one-page-menu">
				<ul>
					<li><a href="#" data-href="#header"><div>Start</div></a></li>
					<li><a href="#" data-href="#section-about"><div>About</div></a></li>
					<li><a href="#" data-href="#section-work"><div>Work</div></a></li>
					<li><a href="#" data-href="#section-team"><div>Team</div></a></li>
					<li><a href="#" data-href="#section-services"><div>Services</div></a></li>
					<li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>
					<li><a href="blog.html"><div>Blog</div></a></li>
					<li><a href="#" data-href="#section-testimonials" class="no-offset"><div>Testimonials</div></a></li>
					<li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
				</ul>
			</nav>

			<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

		</div>

	</div>

</div>